* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   height: 100dvh;
   width: 100dvw;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   overflow: hidden;
}
body img{
   width: 100%;
}
main {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: min(60%, 500px);
   min-height: 0;
   border-radius: 15px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   background-color: rgba(240, 248, 255, 0.750);
}
.name, .country, .birthdate, .email, .phone, .document{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.gender{
   width: 80%;
   text-align: left;
   display: flex;
   align-items: center;
   padding-left: 12px;
}
.gender>label{
   margin-right: 10px;
}
form {
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
}
form>div {
   margin: 5px;
}
h1 {
   margin: 15px 0px;
   text-align: center;
}
label {
   padding: 0px 10px;
   font-size: 18px;
}
div>label:first-of-type {
   display: inline-block;
   width: 120px;
}
::placeholder {
   color: black;
   opacity: 1;
}
input,
select {
   background-color:#c4d6ab;
   border: 0;
   outline: 0;
   box-shadow: 0 0 1px black;
   border-radius: 5px;
   padding: 2px 5px;
   font-size: 16px;
   height: 35px;
   width: 70%;
}
input[type=radio]{
   width: 4%;
}
input[type=radio] {
   box-shadow: none;
}
input:hover,
select:hover {
   border: .8px solid black;
   box-shadow: none;
}
input[type=date] {
   font-family: inherit;
   color: black;
}
input[type='date']::-webkit-calendar-picker-indicator {
   cursor: pointer;
}
select>option {
   background-color: gray;
}
button {
   padding: 5px;
   font-size: 16px;
   margin: 15px auto;
   border-radius: 10px;
   width: 25%;
   cursor: pointer;
   border: 0;
   background-color: aliceblue;
   box-shadow: 0 0 9px aliceblue;
}
button:hover {
   box-shadow: none;
}
.output{
   display: none;
   justify-content: space-evenly;
   align-items: center;
   width: 100%;
   margin-bottom: 20px;
}
.details{
   display: flex;
   justify-content: center;
}
.image img{
   width: 100px;
}
